.headerStyle {
    background-color: rgb(250, 242, 222);
    padding: 20px;
    margin-left: 0%;
}

.insideHeader {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    list-style: none;
}