.headerStyle {
    background-color: rgb(250, 242, 222);
    padding: 20px;
    margin-left: 0%;
    display: flex;
    justify-content: space-between;
}

.insideHeader {
    font-weight: bold;
    list-style: none;
}

a {
    text-decoration: none;
}