.containing {
    outline: 2px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px grey;
    margin: 20px;
    display: flex;
    width: 97.5%;
}

.upper-left {
    display: flex;
    margin-left: 20px;
}

.upper-right {
    margin: 20px 20px 20px 90px;

}

.cardImg {
    height: 100%;
    width: 400px;
}



// .container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
// }

// .card {
//     width: 400px;
//     border: 1px solid #ddd;
//     border-radius: 8px;
//     overflow: hidden;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//     transition: transform 0.3s ease-in-out;
// }

// .card:hover {
//     transform: scale(1.05);
// }

// .card-img-top {
//     width: 100%;
//     height: auto;
//     border-radius: 8px 8px 0 0;
// }

// .card-body {
//     padding: 16px;
// }

// .card-title {
//     font-size: 1.5em;
//     margin-bottom: 8px;
// }

// .card-text {
//     color: #666;
//     margin-bottom: 8px;
// }

