<div *ngIf="loading; else content"></div>

<ng-template #content>
  <div class="containing">
      <div class="upper-left">
        <img src={{dataList[0].image}} class="cardImg" alt="...">
      </div>

      <div class="upper-right">
        <h3 class="cardTitle"> {{dataList[0].title}}</h3>
        <h5>Price: {{dataList[0].price}}</h5>
        <p>Description: {{dataList[0].description}}</p>
        <p>Category: {{dataList[0].category}}</p>
        <p>Rating: {{dataList[0].rating.rate}}</p>
        <p>Items Left: {{dataList[0].rating.count}}</p>
      </div>
  </div>
</ng-template>