.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: calc(33.33% - 32px);
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// .card-title:hover {
//   white-space: normal;
// }

.card:hover {
  transform: scale(1.05);
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

h2 {
  font-size: 1.5em;
  margin-top: 10px;
}

p {
  color: #666;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #2980b9;
}

//tooltip
