.cards{
  /* position: relative; */
  // outline: 2px solid rgb(243, 10, 10);
  width:350px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding:10px;
  margin:15px;
  gap: 5px; 
  border-radius: 20px;
  /* display: flex; */
  text-align: center;
  box-shadow: 8px 8px 8px rgb(184, 223, 216);
  transition: transform 0.4s ease-in-out;
}

.cards:hover {
  transform: scale(1.05);
}

.card-title {
  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

.card-texts{
  position: relative;
  color: #000;
  text-align: center;  
  margin-bottom: 10px;

  width: 300px;
}

.images{
  width: 300px;
  height: 300px;
  opacity: 1;
}

.containers {
  position: relative;
  display: flex;
  width: max-content;
  height: 100%;
}