<div class="row row-cols-3 row-cols-md-4 g-4" >
        <div class="col" *ngFor="let data of dataList;">
            <div class="card" style="width: 21rem;">
                <img src={{data.image}} class="card-img-top" style="height: 300px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="height: 140px;"> {{data.title}}</h5>
                    <p class="card-text" style="height: 10px;">₹{{data.price}}</p>
                    <!-- <a href="/{{data.id}}" class="btn btn-primary" > Buy Now</a> -->
                    <a [routerLink]="['/product', data.id]" class="btn btn-primary" >Product Detail</a>
            </div>
        </div>
    </div>